  <div class="container"
      style="margin: 10px;">
      <div
      *ngFor="let area of areas" class="area">
        <fieldset class="fieldset">
          <legend class="legend_fieldset">{{area.name}}</legend>  
          <app-area  [lines] = "area.lines" ></app-area>
        </fieldset>
        </div>
  </div>

