.container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.area{
  flex: 1 1 auto;
  margin: 2px;
  width: auto;
  display: flex;
}
.area:last-child{
  flex:0 0 auto;
}

.fieldset{
  border: 2px solid rgba(112, 112, 112,0.35);
  border-radius: 10px;
  min-width: 80px;
  flex: 1 1 auto;
}

.legend_fieldset{
  color: #707070;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 24px;
}
