.under-header{
    display: flex;
    justify-content: space-between;
    padding: 36px 24px 10px 15px;
}
.button-refresh{
    border-radius: 28px;
    width: 156px;
    height: 42px;

    background:
    #332352 0% 0% no-repeat;
    box-shadow: 0px 3px 6px
    #00000042;
    vertical-align: middle;

}

::ng-deep .mat-button-wrapper{
    padding: 0 !important;    
}

.button-refresh-text{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
}
.fab-icon{
    color: #17e794;
}