<app-header></app-header>
<div class="under-header">
    <button mat-fab class="button-refresh" (click)="refresh()">
        <mat-icon class="fab-icon">refresh</mat-icon>
        <span class="button-refresh-text">
            ATUALIZAR
        </span>
    </button>
    <app-current-time [date]="date"></app-current-time>
</div>
<app-grid *ngIf = "areas" [areasObservable]="areas"></app-grid>
