.current-time{
display: flex;
flex-direction: column;
justify-content: right;
}

.current-time-text{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    color: #332352;
    opacity: 0.75;
    text-align: right;
    margin-bottom: 16px;
}

.last-update-text{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #332352;
    opacity: 0.54;
    text-align: right;
}