.mat-toolbar{
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 64px;
    background: #4C2C6A 0% 0% no-repeat padding-box;
    opacity: 1;
  }

.outline-menu{
    top: 20px;
    left: 24px;
    width: 24px;
    height: 24px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;

    margin-right: 15px;

  }

.header-text{
    top: 18px;
    left: 63px;
    width: 323px;
    height: 28px;

    text-align: left;
    font-family:'Roboto';
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 0.82;
  }
    