.lineNumber{
  min-width: 12px;
  color: #000000;
  
  font-weight: 500;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Roboto';
  margin-top: 0;
}
.container{
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin: 2px;
}

.line{
  overflow: hidden;
  min-width: 50px;
  width: 100%;
  height: 100%;
}

.line-phases{
  display: flex;
  flex-direction: column;
}