<div class="container">
  <div *ngFor="let line of lines" class="line">
      <h4 class="lineNumber">L{{line.lineNumber}}</h4>
      <app-line [phases]="line.phases" class="line-phases"></app-line>
  </div>
</div>  